db.sqlite3
__pycache__
videomanager.sublime-workspace
videomanager/settings/secrets/development.py
videomanager/settings/secrets/production.py
videomanager/settings/secrets/staging.py
videomanager/settings/secrets/testing.py
videomanager/settings/secrets/appengine.py
*.log
.DS_Store
*.pyc
cloud_sql_proxy
*.json